@model MotoKS.Models.Brands
@{
    MotoKS.Models.Context ctx = new MotoKS.Models.Context();
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div style="background-color: #f2f2f2;">
        <hr>
        <div class="col-sm-6 col-sm-offset-1 margins">
            <div class="form-group">
                <label class="col-sm-12" for="marka">Marka i model</label>
            </div>
            <div class="form-inline col-sm-12">
                <div class="form-group">
                    @Html.DropDownList("Marka", (IEnumerable<SelectListItem>)ViewBag.data1, "Marka", new { @class = "form-control", onchange = "getModel()", id = "marka", name = "marka" })
                </div>
                <div class="form-group">
                    <select class="form-control" name="model" id="model">
                        <option value="" disabled selected>Model</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12" for="rok">Rok produkcji</label> <br>
            </div>
            <div class="form-group">
                <div class="form-inline col-sm-12">
                    @Html.TextBox("Rok_od", null, new { type = "year", @class = "form-control", placeholder = "Od" })
                    @Html.TextBox("Rok_do", null, new { type = "year", @class = "form-control", placeholder = "Do" })
                </div> 
            </div>
            <div class="form-group">
                <label class="col-sm-12" for="cena">Cena</label> <br>
            </div>
            <div class="form-group">
                <div class="form-inline col-sm-12">
                    @Html.TextBox("Cena_od", null, new { type = "number", @class = "form-control", placeholder = "Od" })
                    @Html.TextBox("Cena_do", null, new { type = "number", @class = "form-control", placeholder = "Do" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12" for="stan">Stan</label> <br>
            </div>
            <div class="form-group col-sm-12" data-toggle="buttons">
                <label class="btn btn-primary active">
                    @Html.RadioButton("Stan", "Wszystkie", new { })Wszystkie
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButton("Stan", "Nowe", new { })Nowe
                </label>
                <label class="btn btn-primary">
                    @Html.RadioButton("Stan", "Używane", new { })Używane
                </label>
            </div>
            <div class="form-group col-sm-12">
                <button type="submit" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-search"></span> Szukaj</button>
            </div>
        </div>
    </div>
}
<script>

    function getModel() {
        jQuery.ajax({
            url: '@Url.Action("GetModel", "Home")',
            data: 'marka=' + $("#marka").val(),
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#model').html(data);
                $("#model").prop('disabled', false);
            },
            error: function () { }
        });
    }
</script>
