
@model MotoKS.Models.Cars
@{
    MotoKS.Models.Context ctx = new MotoKS.Models.Context();
    var tmp = (MotoKS.Models.Users)Session["user"];
    var usr = ctx.Users.Where(x => x.ID == tmp.ID).FirstOrDefault();

    string ID = @Model.ID.ToString();

    MotoKS.Models.Cars car = ctx.Cars.Where(x => x.ID.ToString() == ID).FirstOrDefault();

    ViewBag.Title = "Edytuj";
}

@using (Html.BeginForm("Edit", "Car", new { ID = ID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="text-align: center">
        <h2> <b> Edytuj ogłoszenie</b></h2>
    </div>
    <div class="container margins col-sm-8 col-sm-offset-2" style="background-color: #f2f2f2;">
        <hr>
        <div class="form-group">
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    <label class="col-sm-12" style="white-space: nowrap;" for="marka">Marka</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="marka" name="marka" disabled value="@car.Brand.Brand">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-12" style="white-space: nowrap;" for="model">Model</label>
                    <input type="text" class="form-control" id="model" name="model" disabled value="@car.CarModel.Model">
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-12" style="white-space: nowrap;" for="status">Stan</label>
                    @Html.EnumDropDownListFor(x => x.State, new { @class = "form-control", @Value = car.State })
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-sm-8 col-sm-offset-2" style="background-color: #f2f2f2; margin-top:20px;">
        <hr>
        <br>
        <div class="form-group">
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    <label class="col-sm-12" style="white-space: nowrap;" for="typ">Typ pojazdu</label>
                    @Html.EnumDropDownListFor(x => x.Type, new { @class = "form-control", @Value = car.Type })
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-12" style="white-space: nowrap;" for="damaged">Uszkodzony</label>
                    @Html.EnumDropDownListFor(x => x.Damaged, new { @class = "form-control", @Value = car.Damaged })
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-12" style="white-space: nowrap;" for="rok">Rok produkcji</label>
                    @Html.TextBoxFor(x => x.ProdDate, new { type = "number", @class = "form-control", maxlength = 4, @Value = car.ProdDate })
                </div>
            </div>
        </div> <br> <br>
        <br>
        <div class="form-group">
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    <label class="col-sm-12" for="paliwo" style="white-space: nowrap;">Paliwo</label>
                    @Html.EnumDropDownListFor(x => x.Fuel, new { @class = "form-control", @Value = car.Fuel })
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-12" style="white-space: nowrap;" for="gearbox">Skrzynia biegów</label>
                    @Html.EnumDropDownListFor(x => x.Gearbox, new { @class = "form-control", @Value = car.Gearbox })
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-12" for="przebieg" style="white-space: nowrap;">Przebieg - km</label>
                    @Html.TextBoxFor(x => x.Mileage, new { type = "number", @class = "form-control", maxlength = 10, @Value = car.Mileage })
                </div>
            </div>
        </div> <br> <br>
        <br>
        <div class="form-group">
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    <label class="col-sm-12" style="white-space: nowrap;" for="drive">Napęd</label>
                    @Html.EnumDropDownListFor(x => x.Drive, new { @class = "form-control", @Value = car.Drive })
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-12" for="engine" style="white-space: nowrap;">Poj. silnika - cm³</label>
                    @Html.TextBoxFor(x => x.Engine, new { type = "number", @class = "form-control", maxlength = 5, @Value = car.Engine })
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-12" for="moc" style="white-space: nowrap;">Moc silnika - KM</label>
                    @Html.TextBoxFor(x => x.bHP, new { type = "number", @class = "form-control", maxlength = 4, @Value = car.bHP })
                    <hr>
                </div> <br>
            </div>
        </div>
    </div>
    <div class="container col-sm-8 col-sm-offset-2" style="background-color: #f2f2f2; margin-top:20px;">
        <hr>
        <br>
        <div class="form-group">
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    <label class="col-sm-12" for="price" style="white-space: nowrap;">Cena - zł</label>
                    @Html.TextBoxFor(x => x.Price_, new { type = "number", @class = "form-control", maxlength = 10, @Value = car.Price_ })
                </div>
                <div class="col-sm-4">
                    <label class="form-check-label" style="white-space: nowrap;">
                        @Html.CheckBoxFor(x => x.Netto, new { @class = "form-check-input", @Value = car.Netto }) Cena netto
                    </label> <br>
                    <label class="form-check-label" style="white-space: nowrap;">
                        @Html.CheckBoxFor(x => x.Negotiable, new { @class = "form-check-input", @Value = car.Negotiable }) Do negocjacji
                    </label> <br>
                    <label class="form-check-label" style="white-space: nowrap;">
                        @Html.CheckBoxFor(x => x.Registered, new { @class = "form-check-input", @Value = car.Registered }) Zarejestrowany
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="form-check-label" style="white-space: nowrap;">
                        @Html.CheckBoxFor(x => x.VAT, new { @class = "form-check-input", @Value = car.VAT }) Faktura VAT
                    </label> <br>
                    <label class="form-check-label" style="white-space: nowrap;">
                        @Html.CheckBoxFor(x => x.Leasing, new { @class = "form-check-input", @Value = car.Leasing }) Leasing
                    </label> <br>
                    <label class="form-check-label" style="white-space: nowrap;">
                        @Html.CheckBoxFor(x => x.OC, new { @class = "form-check-input", @Value = car.OC }) Ubezpieczony
                    </label>
                    <hr>
                </div> <br>
            </div>
        </div>
    </div>
    <div class="container col-sm-8 col-sm-offset-2" style="background-color: #f2f2f2; margin-top:20px;">
        <hr>
        <br>
        <div class="form-group">
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    <label class="col-sm-12" for="color" style="white-space: nowrap;">Kolor</label>
                    @Html.TextBoxFor(x => x.Color, new { type = "text", @class = "form-control", maxlength = 20, @Value = car.Color })
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-12" for="country" style="white-space: nowrap;">Kraj pochodzenia</label>
                    @Html.TextBoxFor(x => x.Country, new { type = "text", @class = "form-control", maxlength = 20, @Value = car.Country })
                </div>
                <div class="col-sm-4">
                    <label class="form-check-label" style="white-space: nowrap;">
                        @Html.CheckBoxFor(x => x.FirstOwner, new { @class = "form-check-input", @Value = car.FirstOwner }) Pierwszy właściciel
                    </label> <br>
                    <label class="form-check-label" style="white-space: nowrap;">
                        @Html.CheckBoxFor(x => x.ASO, new { @class = "form-check-input", @Value = car.ASO }) Serwisowany w ASO
                    </label> <br>
                    <label class="form-check-label" style="white-space: nowrap;">
                        @Html.CheckBoxFor(x => x.NoAcc, new { @class = "form-check-input", @Value = car.NoAcc }) Bezwypadkowy
                    </label>
                    <hr>
                </div> <br>
            </div>
        </div>
    </div>
    <div class="container col-sm-8 col-sm-offset-2" style="background-color: #f2f2f2; margin-top:20px;">
        <hr>
        <div class="form-group">
            <div class="col-sm-12">
                <label class="col-sm-12" for="desc" style="white-space: nowrap;">Opis</label>
                @Html.TextAreaFor(x => x.Desc, new { @class = "form-control", style = "resize: none; align: center;", cols = "200", rows = "10", maxlength = "4096", @value = car.Desc })
                <hr>
            </div>
            <hr>

        </div>
    </div>
    <div class="container col-sm-8 col-sm-offset-2" style="background-color: #f2f2f2; margin-top:20px;">
        <hr>
        <br>
        <div class="form-group">
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    <label class="col-sm-12" for="city" style="white-space: nowrap;">Miasto</label>
                    @Html.TextBoxFor(x => x.City, new { type = "text", @class = "form-control", maxlength = 30, @Value = usr.CityName })
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-12" for="post" style="white-space: nowrap;">Kod pocztowy</label>
                    @Html.TextBoxFor(x => x.PostCode, new { type = "text", @class = "form-control", maxlength = 10, @Value = usr.PostCode })
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-12" for="moc" style="white-space: nowrap;">Telefon</label>
                    @Html.TextBoxFor(x => x.Phone, new { type = "number", @class = "form-control", maxlength = 10, @Value = usr.Phone })
                    <hr>
                </div>
            </div>
        </div>
    </div> <br>
    <div class="container col-sm-8 col-sm-offset-2" style="margin-top:20px;">
        <div class="form-group col-sm-3 pull-right">
            <button type="submit" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-check"></span>  Dodaj</button>
        </div>
    </div>
}

<script>

    function getModel() {
        jQuery.ajax({
            url: '@Url.Action("GetModel", "Add")',
            data: 'marka=' + $("#marka").val(),
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#model').html(data);
                $("#model").prop('disabled', false);
            },
            error: function () { }
        });
        }

        function auto_grow(element)
        {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight)+"px";
        }
</script>


